.home
  width: 100%
  height: 100%
  
.overflow
  position: relative
  overflow: scroll 
  overflow-x: hidden
  height: 55rem
  width: 100%
  padding-top: 2%

.overflow:after
  content: ""
  height: 100px
  position: absolute
  bottom: 0
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 60%)

.container-bloc-implantation
  border-left: solid 0.2rem $main

.container-bloc-rotation
  border-left: solid 0.2rem $light_blue

.container-bloc-doublons
  border-left: solid 0.2rem $red

.container-bloc
  display: flex
  border-bottom: 0.1rem solid $light_grey
  align-items: center
  justify-content: space-between
  cursor: pointer

li 
  display: flex 
  background: $white
  color: $text 
  line-height: 5rem 
  text-decoration: none 
  padding-left: 2.1rem 
 
.chevron
  display: flex
  background-image: url('../../assets/pictos/chevron_blue.svg')
  width: 0.7rem
  height: 1.1rem
  margin-right: 2.3rem

.rotate 
  -moz-transition: all .25s ease
  -webkit-transition: all .25s ease
  transition: all .25s linear

.chevron.rotate.down 
  -moz-transform: rotate(90deg)
  -webkit-transform: rotate(90deg)
  transform: rotate(90deg)

* 
  box-sizing: border-box
 
.clearfix:after 
  content: " "
  visibility: hidden
  display: block
  height: 0
  clear: both
 
.container 
  width: 100%
  color: #4C5263
  width: 100%
  padding: 2em

.products 
  width: 75%
  float: left

.shopping-cart 
  width: 25%
  float: left
 