*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline: none

*:active, *:focus
  outline: none

html, body
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  position: relative
  font-family: 'Avenir'
  background: $light_blue

html
  font-size: 62.5%

#app
  position: relative
  display: flex
  width: 100%
  height: 100%
  font-size: $ft_main
  color: $main
  .vdatetime-popup__header
    background: #4d4f5c
  .vdatetime-popup__actions__button
    color: #4d4f5c
  .vdatetime-calendar__month__day--selected > span > span
    background: #4d4f5c
  .v-select
    margin: 0 5px
    width: 70%
    .clear
      display: none
    .selected-tag
      padding: 0

body
  .echarts
    width: 100%
    height: 100%

li
  list-style-type: none

h1, h2, h3, h4, h5, h6
  margin: 0

h1
  font-size: $ft_main

a
  color: $text
  display: block
  text-decoration: none
  &:visited
    color: $text
  &:focus
    color: $text
  &:active
    color: $text


/* USEFUL CLASSES */
.light-blue
  background-color: $light_blue


